


.app{
    color: $text-color;
    text-align: center;
    font-family: $font1;
}

.app-title{
    font-size: $font-size-title;
    margin-top: -5px;
}

.btn{
    background: $btn-color;
    color: $btn-text;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    margin: auto;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    cursor: pointer;
}

.btn-text{
    margin-top: 16px;
}

